.home {
	position: relative;
	height: 100vh;
	width: 100%;
	padding: 0;
	display: block;
	justify-content: space-evenly;
}

.productList {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	overflow-y: auto;
}
