:root {
	--vasy-green: rgb(4, 100, 4);
	--vasy-shadow: rgba(24, 24, 24, 0.664);
}

.App {
	font-family: "Roboto";
	height: 100vh;
	display: flex;
	flex-direction: row;
	padding: 0;
	background-color: rgb(234, 235, 236);
}
